<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/addLesson" method="post">
<label>Course ID: </label>
<input type="text" name="course"> <br>
<label>Lesson ID: </label>
<input type="text" name="LessonId"> <br>
<label>Lesson NAME: </label>
<input type="text" name="LessonName">
<br>
<label>Lesson TOPICS: </label>
<input type="text" name="LessonTopics"> <br>
<label>Lesson LINK: </label>
<input type="text" name="LessonLink"> <br>
<input type="submit">
</form>
</body>
</html>