<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>
<body>
	<div>
<table border="1">
<thead>
<tr>
<th>Course ID</th>
<th>Course Name</th>
<th>Course Price</th>
<th>GET THIS</th>
</tr>
</thead>
<tbody>
	
<tr th:each="course:${courseList}">
<td th:text="${course.courseId}"/td>
 <td th:text="${course.courseName}">	 
 </td> 
 <td th:text="${course.coursePrice}"></td>
 <td>
	 <form id="payment-form">
		<input type="hidden" class="email" th:value="${session.loggedInUser.email}"/> 
		 <input type="hidden" class="course-id" th:value="${course.courseId}"/>
		 <button type="submit" id="pay-button" class="btn btn-success buy-button" th:data-amount="${course.coursePrice}">BUY</button>
	</form>
 </td>
</tr>
</tbody>
<br>
</table>
</div>
<a href="/login">Go to LOGIN</a>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	$(document).ready(function() {
		$(".buy-button").click(function(e) {
			 e.preventDefault();
		var form = $(this).closest('form');
		 var amount = $(this).data("amount");
		 var email = form.find('.email').val();
		  var courseId = form.find('.course-id').val();
		  createOrder(amount, email, courseId);
	  });
	});
	
	﻿

	function createOrder(amount, email, courseId) {
		alert(amount+email+courseId)
		$.post("/takeOrder", { amount: amount, email: email, courseId: courseId })
		.done(function(order) {
			console.log("Order received:", order);
			order = JSON.parse(order);
			console.log("FFFFF");
			console.log(order);
			var options = {
			"key": "rzp_test_i61fFzTqvzMsBL",
			 "amount": order.amount_due.toString(),
			  "currency": "INR",
			"name": "Learn Sphere",
			"description": "Test Transaction",
			"order_id": order.id,
			//"handler": function(response) {
			//	verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature);
			//},
			"handler": function (response){
        		console.log(response.razorpay_payment_id);
        		console.log(response.razorpay_order_id);
        		console.log("payment successful");
       			 alert(response.razorpay_signature);
       			 console.log("payment successful");

    			},
			"prefill": {
				"name": "Your Name",
       			 "email": "test@example.com",
        		"contact": "9000090000"
        	},
        	"notes": {
        		"address": "Bangalore"
    		},
    		"theme": {
      			  "color": "#3399cc"
    		}
    		};
    /**		console.log(options);
    		console.log("           ");
	    	let rzp1 = new Razorpay(options);
			rzp1.open();
			
**/		
				var rzp1 = new Razorpay(options);
				rzp1.on('payment.failed', function (response){
				        alert(response.error.code);
				        alert(response.error.description);
				        alert(response.error.source);
				        alert(response.error.step);
				        alert(response.error.reason);
				        alert(response.error.metadata.order_id);
				        alert(response.error.metadata.payment_id);
				});
			
				    rzp1.open();
					
		})
    	.fail(function(error){
			console.error("Error :", error);
		})
	}
	
	
	
	function verifyPayment (orderId, paymentId, signature) {
		$.post("/verify", { orderId:orderId, paymentId:paymentId, signature:signature })
		.done(function(isValid) {
			if(isValid){
				console.log("Payment Successful");
			} else{
				console.log("Payment Failed");
			}
		})
    	.fail(function(error){
			console.error("Error :", error);
		})
	}
</script>




</html>